body{
    width: 705px;
    height: 300px;
    background: #005731;
    color: white;
    text-align: center;
  }
  h2{
    font-weight:bold;
    border-bottom:1px solid white;
    text-align: left;
    font-size: 20px;
    padding: 10px;
  }
  .colorsetfont{
    color: white;
  }

  .title{
    display: inline-block;
    width: 200px;
    padding: 10px;
  }

  .message{
    display: inline-block;
    width: 450px;
    padding: 10px;
  }