body{
  min-height: 100vh;  /* 画面幅いっぱいに */
}

.title{
  font-size: 45px;
  text-align: center;
  text-decoration:underline;/*下線を引く*/
  text-decoration-color:green;/*下線を赤色*/
}

.btn-success{
  position:relative;
  left:400px;
}

.setcolormain{
  background: #005731; /*背景を深緑に*/
  width: 20%;
  min-height: 100vh;  /* 画面幅いっぱいに */
  color: white;
  text-align: center;
  border-bottom: white;
  border-width: 3px;
}
.colorsetfont{
  color: white;
}
.colorsetborder-{
  border-bottom: white;
  border-width: 3px;
}
.colorsetborder{
  border-bottom: white;
}

.card {
  padding: 0.5em 0.5em;
  margin: 15px 15px;
  font-weight: bold;
  border: solid 2px #000000;
}

.card-title{
  font-size: 35px;
}

.card-text{
  font-size: 30px;
}

.btn-primary{
  font-size: 25px;
  right: 0%;
  bottom: 0%;
}

.card p {
  margin: 0; 
  padding: 0;
}

.test{
  display: flex;
  text-align: center;
  justify-content: space-around;
}